<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.fire_fighting.mapper.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="study.fire_fighting.pojo.Warehouse">
        <id column="whid" property="whid" />
        <result column="wtel" property="wtel" />
        <result column="area" property="area" />
        <result column="location" property="location" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        whid, wtel, area, location
    </sql>

</mapper>
