<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.hitchhiking.mapper.ManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="study.hitchhiking.pojo.Manage">
        <result column="userID" property="userID" />
        <result column="orderID" property="orderID" />
        <result column="initiatorID" property="initiatorID" />
        <result column="currentprice" property="currentprice" />
        <result column="requestedprice" property="requestedprice" />
        <result column="role" property="role" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userID, orderID, initiatorID, currentprice, requestedprice, role
    </sql>

</mapper>
