<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.hitchhiking.mapper.CarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="study.hitchhiking.pojo.Car">
        <id column="carID" property="carID" />
        <result column="userID" property="userID" />
        <result column="seatnumber" property="seatnumber" />
        <result column="platenumber" property="platenumber" />
        <result column="fuelconsumption" property="fuelconsumption" />
        <result column="oiltype" property="oiltype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        carID, userID, seatnumber, platenumber, fuelconsumption, oiltype
    </sql>

</mapper>
