<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.hitchhiking.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="study.hitchhiking.pojo.Orders">
        <id column="orderID" property="orderID" />
        <result column="userID" property="userID" />
        <result column="role" property="role" />
        <result column="orderstatus" property="orderstatus" />
        <result column="orderprice" property="orderprice" />
        <result column="carID" property="carID" />
        <result column="getonposition" property="getonposition" />
        <result column="getontime" property="getontime" />
        <result column="getoffposition" property="getoffposition" />
        <result column="threshold" property="threshold" />
        <result column="destination" property="destination" />
        <result column="departtime" property="departtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orderID, userID, role, orderstatus, orderprice, carID, getonposition, getontime, getoffposition, threshold, destination, departtime
    </sql>

</mapper>
