<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>manageSelect</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css" th:href=@{/css/index.css}>
    <script src="../static/js/jquery-3.1.1.min.js" th:src=@{/js/jquery-3.1.1.min.js}></script>
    <script src="../static/js/login.js" th:src=@{/js/login.js}></script>
    <link rel="stylesheet" href="../static/css/card.css" th:href=@{/css/card.css}>
    <link rel="stylesheet" href="../static/css/select.css" th:href=@{/css/select.css}>
</head>
<body>
<nav id="nav-1">
    <a style="padding:0 6%;"></a>
    <a class="link-1" th:href=@{/index/user}>主页</a>
    <a class="link-1" th:href=@{/orders/all}>预定</a>
    <a class="link-1" th:href=@{/manage/select}>议价</a>
    <a class="link-1" th:href=@{/comment/select}>评论</a>
    <a style="padding:0 6%;"></a>
    <a class="link-3" onclick=logout()>登出</a>
    <a class="link-3" href="/userCenter/details" th:text="${UserName}+' 个人中心'"></a>
</nav>
<div style="width:80%;margin:0 auto;background:white;margin-top: 5px;border-radius: 5px 5px 5px 5px;">
    <table class="niceTable" align="center">
        <tr>
            <th>评论ID</th>
            <th>订单ID</th>
            <th>用户ID</th>
            <th>身份</th>
            <th>内容</th>
            <th>评论时间</th>
<!--            <th>操作</th>-->
<!--            <th>操作</th>-->
        </tr>

        <tr th:each="commentObj:${commentList}">

            <td th:text=${commentObj.commentID}>评论ID</td>
            <td th:text=${commentObj.orderID}>订单ID</td>
            <td th:text=${commentObj.userID}>用户ID</td>
            <td th:text=${commentObj.role}>身份</td>
            <td th:text=${commentObj.content}>内容</td>
            <td th:text=${commentObj.commenttime}>评论时间</td>
<!--            <td>-->
<!--                <form th:action="@{/comment/details}" method="post">-->
<!--                    <input type="hidden" name="commentID" th:value=${commentObj.commentID}>-->
<!--                    <input type="submit" value="详情" class="btn-gradient blue mini">-->
<!--                </form>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:action="@{/comment/delete}" method="post">-->
<!--                    <input type="hidden" name="commentID" th:value=${commentObj.userID}>-->
<!--                    <input type="submit" value="删除" class="btn-gradient red mini">-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    </table>
</div>
</body>
</html>