<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="/css/select.css" media="all" rel="stylesheet"/>
</head>
<body>
<form th:action=@{/comment/update} method="post">
    <table>
        <tr>
            <td>评论ID：</td>
            <td><span th:text=${one.commentID}></span>
                <input type="text" name="commentID" th:value=${one.commentID} hidden></td>
        </tr>
        <tr>
            <td>订单ID：</td>
            <td><span th:text=${one.orderID}></span>
                <input type="text" name="orderID" th:value=${one.orderID} hidden></td>
        </tr>
        <tr>
            <td>用户ID：</td>
            <td><span th:text=${one.userID}></span>
                <input type="number" name="userID" th:value=${one.userID} hidden></td>
        </tr>
        <tr>
            <td>身份：</td>
            <td><span th:text=${one.role}></span>
                <select name="role">
                    <option value="不修改">不修改</option>
                    <option value="乘客">乘客</option>
                    <option value="司机">司机</option>
                </select></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><input type="text" name="content" th:value=${one.content}></td>
        </tr>
        <tr>
            <td>评论时间：</td>
            <td><span th:text=${one.commenttime}></span>
                <input type="datetime-local" name="commenttime" th:value=${one.commenttime}></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="修改" class="btn-gradient blue mini">
            </td>
            <td>
                <input type="reset" value="重置" class="btn-gradient green mini">
            </td>
        </tr>
    </table>
</form>

</body>
</html>