<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="/css/select.css" media="all" rel="stylesheet"/>
    <script>
        function checkNum(obj) {
            //检查是否是非数字值
            if (isNaN(obj.value)) {
                obj.value = "";
            }
            if (obj != null) {
                //检查小数点后是否对于两位
                if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                    alert("小数点后多于两位！");
                    obj.value = "";
                }
            }
        };
    </script>
</head>
<body>
<form th:action=@{/manage/update} method="post">
    <table>
        <tr>
            <td>用户ID：</td>
            <td><span th:text=${one.userID}></span>
                <input type="text" name="userID" th:value=${one.userID} hidden></td>
        </tr>
        <tr>
            <td>订单ID：</td>
            <td><span th:text=${one.orderID}></span>
                <input type="text" name="orderID" th:value=${one.orderID} hidden></td>
        </tr>
        <tr>
            <td>当前价格：</td>
            <td><input type="text" name="currentprice" th:value=${one.currentprice}></td>
        </tr>
        <tr>
            <td>请求价格：</td>
            <td><input type="text" name="requestedprice" th:value=${one.requestedprice}></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="修改" class="btn-gradient blue mini">
            </td>
            <td>
                <input type="reset" value="重置" class="btn-gradient green mini">
            </td>
        </tr>
    </table>
</form>

</body>
</html>