<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function checkNum(obj) {
            //检查是否是非数字值
            if (isNaN(obj.value)) {
                obj.value = "";
            }
            if (obj != null) {
                //检查小数点后是否对于两位
                if (obj.value.toString().split(".").length > 1 && obj.value.toString().split(".")[1].length > 2) {
                    alert("小数点后多于两位！");
                    obj.value = "";
                }
            }
        };
    </script>
</head>
<body>
<form th:action=@{/orders/update} method="post">
    <table>
        <tr>
            <td>订单ID：</td>
            <td><span th:text=${one.orderID}></span>
                <input type="text" name="orderID" th:value=${one.orderID} hidden></td>
        </tr>
        <tr>
            <td>订单状态：</td>
            <td><span th:text=${one.orderstatus}></span>
                <select name="orderstatus">
                    <option value="不修改">不修改</option>
                    <option value="议价中">议价中</option>
                    <option value="已接单">已接单</option>
                    <option value="行程中">行程中</option>
                    <option value="待付款">待付款</option>
                    <option value="已完成">已完成</option>
                </select></td>
        </tr>
        <tr>
            <td>订单价格：</td>
            <td><input type="text" name="orderprice" th:value=${one.orderprice} onkeyup=checkNum(this)></span></td>
        </tr>
        <tr>
            <td>汽车ID：</td>
            <td><input type="text" name="carID" th:value=${one.carID}></span></td>
        </tr>
        <tr>
            <td>乘客上车点：</td>
            <td><input type="text" name="getonposition" th:value=${one.getonposition}></span></td>
        </tr>
        <tr>
            <td>乘客上车时间：</td>
            <td><span th:text=${one.getontime}></span>
                <input type="datetime-local" name="getontime" th:value=${one.getontime}></td>
        </tr>
        <tr>
            <td>乘客下车点：</td>
            <td><input type="text" name="getoffposition" th:value=${one.getoffposition}></span></td>
        </tr>
        <tr>
            <td>起点：</td>
            <td><input type="text" name="threshold" th:value=${one.threshold}></span></td>
        </tr>
        <tr>
            <td>终点：</td>
            <td><input type="text" name="destination" th:value=${one.destination}></span></td>
        </tr>
        <tr>
            <td>发车时间：</td>
            <td><span th:text=${one.departtime}></span>
                <input type="datetime-local" name="departtime" th:value=${one.departtime}></span></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="修改">
            </td>
        </tr>
    </table>
</form>
</body>
</html>