<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userSelect</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="/css/select.css" media="all" rel="stylesheet"/>
</head>
<body>
<p>
    <!--查询用户-->
    <form th:action="@{/user/select}" method="post">
        <p>
            <input type="text" name="target" placeholder="请输入查询条件"></input>
            <input type="checkbox" name="sex" value="男">男
            <input type="checkbox" name="sex" value="女">女
            <input type="submit" value="查询" class="btn-gradient blue mini"></input>
            <input type="reset" value="重置" class="btn-gradient green mini">
        </p>
        <p>
            <input type="radio" name="typeOfSelect" value="name" checked>姓名
            <input type="radio" name="typeOfSelect" value="userID">用户ID
            <input type="radio" name="typeOfSelect" value="password">密码
            <input type="radio" name="typeOfSelect" value="phonenumber">电话号码
            <input type="radio" name="typeOfSelect" value="identification">身份证
        </p>
    </form>
</p>

<table class="niceTable">
    <tr>
        <th>用户ID</th>
        <th>姓名</th>
        <th>性别</th>
        <th>电话号码</th>
        <th>密码</th>
        <th>身份证</th>
        <th>创建时间</th>
        <th>操作</th>
        <th>操作</th>
    </tr>
    <tr>
        <form th:action=@{/user/insert} method="post">
            <td>自动生成</td>
            <td><input type="text" name="name" placeholder="姓名"></td>
            <td><select name="sex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select></td>
            <td><input type="text" name="phonenumber" placeholder="电话号码"></td>
            <td><input type="text" name="password" placeholder="密码"></td>
            <td><input type="text" name="identification" placeholder="身份证"></td>
            <td>自动生成</td>
            <td><input type="submit" value="添加" class="btn-gradient blue mini"></td>
            <td><input type="reset" value="清除" class="btn-gradient green mini"></td>
        </form>
    </tr>
    <tr th:each="userObj:${userList}">

        <td th:text=${userObj.userID}>用户ID</td>
        <td th:text=${userObj.name}>姓名</td>
        <td th:text=${userObj.sex}>性别</td>
        <td th:text=${userObj.phonenumber}>电话号码</td>
        <td th:text=${userObj.password}>密码</td>
        <td th:text=${userObj.identification}>身份证</td>
        <td th:text=${userObj.createtime}>创建时间</td>
        <td>
            <form th:action="@{/user/details}" method="post">
                <input type="hidden" name="userID" th:value=${userObj.userID}>
                <input type="submit" value="详情" class="btn-gradient cyan mini">
            </form>
        </td>
        <td>
            <form th:action="@{/user/delete}" method="post">
                <input type="hidden" name="userID" th:value=${userObj.userID}>
                <input type="submit" value="删除" class="btn-gradient red mini">
            </form>
        </td>
    </tr>
</table>
</body>
</html>