<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updateUser</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<form th:action=@{/user/update} method="post">
    <table>

        <tr>
            <td>姓名：</td>
            <td><input type="text" name="name" th:value=${one.name}></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td><span th:text=${one.sex}></span>———是否修改
            <input type="radio" name="sexChange" value="true">是
            <input type="radio" name="sexChange" value="false" checked>否</td>
        </tr>
        <tr>
            <td>电话：</td>
            <td><input type="text" name="phonenumber" th:value=${one.phonenumber}></input></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" name="password"  th:value=${one.password}></span></td>
        </tr>
        <tr>
            <td>身份证号：</td>
            <td><input type="text" name="identification"  th:value=${one.identification}></span></td>
        </tr>
        <tr>
            <td>
                <input type="text" name="userID" th:value=${one.userID} hidden>
                <input type="submit" value="确认">
            </td>
        </tr>
    </table>
    </form>

</body>
</html>